.main-section {
  height: 80vh;
  width: 100vw;
  background-image: url("../../Images/home_bg_2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-section-row {
  height: 100%;
  width: 100%;
}

.main-section-text {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-container {
  width: 100%;
  background-color: black;
}
