.img-col-blog-col {
    height: 25vh;
    width: 100%;
}

.img-card-blog {
    height: 100%;
    width: 100%;
}

.header-card-blog {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-blog {
    height: 80vh
}

.card-body-blog {
    height: 40vh
}

.card-text-blog {
    height: 25vh;
}