.carousel-style {
  height: 80vh;
}

.carousel-img {
  min-width: 100%;
  max-height: 80vh;
  max-width: none;
}

@media screen and (max-width: 1150px) {
  .carousel-style {
    height: 100%;
  }

  .carousel-img {
    height: 100vh;
  }
}
