.price-style {
  text-align: right;
}

.button-style-game-card {
  margin-top: 5vh;
}

@media only screen and (max-width: 800px) {
  .price-style {
    text-align: left;
  }

  .button-style-game-card {
    margin-top: 0;
  }
}
